
#shrekFace {
  position: fixed;
  display: flex;
  height: 100px;
  width: 100px;
  bottom: 40px;
  left: 140px;
  z-index: 1000;
  cursor: pointer;
  content: url("https://pngimg.com/uploads/shrek/small/shrek_PNG6.png");
}

#quote {
  opacity: 0;
  position: fixed;
  display: flex;
  height: 200px;
  width: 300px;
  bottom: 110px;
  left: 40px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: green;
  z-index: 1001;
  content: "Give me a dollar";
}

#quoteBox {
  opacity: 0;
  position: fixed;
  display: flex;
  height: 200px;
  width: 350px;
  bottom: 110px;
  left: 15px;
  z-index: 1000;
  content: url('https://clipartix.com/wp-content/uploads/2017/02/Speech-bubble-no-cartoon-bubble-clipart-clipartfox.png');
}






#soundBite {
  content: url("https://pngimg.com/uploads/shrek/small/shrek_PNG6.png");
}